#landing-page {
}

#landing-page-image1 {
  background: url('/images/annie-spratt-QckxruozjRg-unsplash.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 700px;
  opacity: 0.95;
  color: white;
  width: 100%;
  text-align: center;
  z-index: -1;
}

.accent-block {
  background: url('/images/artur-luczka-loAfOVk1eNc-unsplash.jpg');
  height: 60px;
  width: 100%;
  text-align: center;
  vertical-align: center;
  padding: 15px;
}

.edit-profile-image {
  text-align: center;
  padding-bottom: 20px;
}

.ui.cards>.card>.content img {
  border-radius: 5px;
  border-color: dimgrey;
}

#main-filter>.field
{
  padding-top: 0.8em;
}

.uploadcare--widget__button.uploadcare--widget__button_type_open {
  background-color: #4e7844;
  padding: 0.5em;
  margin-right: 1em;
}

